@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

.center {
  padding: 0 calc(50% - 570px);
}

.header {
  height: 100px;
  background-color: #ffffff;
  border: 1px solid #ececec;
  box-shadow: 0 0 10px 0 #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__right {
  display: flex;
  align-items: flex-end;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 37px;
  font-size: 27px;
  font-weight: 300;
  color: #222222;
  letter-spacing: 0.03em;
  line-height: 32px;
  text-transform: uppercase;
}

.logo__color {
  font-weight: 900;
  color: #f16d7f;
}

.header__form {
  display: flex;
  align-items: center;
}

.logo__img {
  margin-right: 13px;
}

.header__cart {
  margin-right: 26px;
  height: 29px;
  width: 32px;
}

.browse {
  display: flex;
  align-items: center;
  height: 38px;
  width: 87px;
  border: solid #e6e6e6;
  border-width: 1px 0 1px 1px;
  border-radius: 3px 0 0 3px;
  background-image: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
  position: relative;
}

.browse:hover .drop {
  display: flex;
}

.browse__point {
  color: #838383;
  margin-right: 9px;
  height: 6px;
  width: 9px;
}

.browse__text {
  font-size: 14px;
  font-weight: 300;
  color: #222222;
  letter-spacing: 0.03em;
  line-height: 32px;
  margin-left: 15px;
  margin-right: 8px;
}

.header__input {
  height: 38px;
  width: 280px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  padding: 14px 16px;
}

input::-webkit-input-placeholder {
  color: #a4a4a4;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.03em;
}

input:-moz-placeholder {
  color: #a4a4a4;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.03em;
}

.header__search {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  width: 36px;
  background-color: #ffffff;
  border: solid #e6e6e6;
  border-width: 1px 1px 1px 0;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}

.button {
  height: 38px;
  width: 130px;
  background-color: #f16d7f;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.button__text {
  font-size: 15px;
  color: #ffffff;
  letter-spacing: 0.03em;
  line-height: 32px;
}

.button__point {
  height: 6px;
  width: 9px;
  margin-right: 12px;
  margin-left: 9px;
}

.nav {
  height: 51px;
  background-color: #fff;
}

.menu__link {
  font-size: 14px;
  font-weight: bold;
  color: #222222;
  text-align: left;
  text-transform: uppercase;
  display: block;
  padding: 20px;
}

.menu {
  list-style-type: none;
  display: flex;
  justify-content: center;
  height: 51px;
}

.promo {
  height: 613px;
  background-color: #e8e8e8;
  background-image: url(img/promo.png);
  background-repeat: no-repeat;
  background-position: center -51px;
  display: flex;
  align-items: center;
}

.promo__h2 {
  font-size: 60px;
  font-weight: 900;
  color: #222222;
  letter-spacing: 0.03em;
  line-height: 45px;
  margin-bottom: 15px;
}

.promo__h3 {
  font-size: 40px;
  font-weight: 900;
  color: #222222;
  letter-spacing: 0.03em;
  line-height: 33px;
}

.promo__color {
  font-size: 40px;
  font-weight: 900;
  color: #f16d7f;
  letter-spacing: 0.03em;
}

.promo__content {
  border-left: 12px solid #f16d7f;
  padding-left: 12px;
}

.offer {
  margin-top: 98px;
  height: 823px;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
}

.square {
  height: 542px;
}

.rectangle {
  height: 261px;
}

.offer__block {
  width: 560px;
  border: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 26px;
  background-repeat: no-repeat;
  background-position: center;
}

.offer__content {
  background-color: #fff;
  padding: 18px;
}

.offer__block {
  display: flex;
  align-items: flex-start;
  padding-top: 26px;
}

.offer1_img {
  background-image: url(img/offer1.png);
}

.offer2_img {
  background-image: url(img/offer2.png);
}

.offer3_img {
  background-image: url(img/offer3.png);
}

.offer4_img {
  background-image: url(img/offer4.png);
}

.offer__h5 {
  font-size: 18px;
  font-weight: 900;
  color: #222222;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.offer__h4 {
  font-size: 30px;
  font-weight: 900;
  color: #f16d7f;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.title {
  padding-top: 100px;
  padding-bottom: 52px;
}

.title__h4 {
  font-size: 30px;
  font-weight: bold;
  color: #222222;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 14px;
}

.subtitle {
  font-size: 14px;
  color: #9f9f9f;
  text-align: center;
  letter-spacing: 0.03em;
}

.product-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
}

.product {
  width: 261px;
  position: relative;
  margin-bottom: 20px;
}

.product:hover {
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.16);
}

.product:hover .product__img {
  filter: brightness(50%);
}

.product:hover .add_to_cart {
  display: flex;
}

.product__img {
  width: 100%;
}

.cart_img {
  height: 22px;
  width: 23px;
  margin-left: 12px;
}

.add_to_cart {
  position: absolute;
  top: 97px;
  left: 70px;
  height: 39px;
  width: 123px;
  border: 1px solid #ffffff;
  display: none;
  align-items: center;
  justify-content: flex-start;
}

.add_to_cart:hover {
  box-shadow: 0 0 5px #fff;
}

.atc_text {
  font-size: 13px;
  font-weight: bold;
  color: #ffffff;
  padding-left: 8px;
}

.product__title {
  font-size: 14px;
  color: #222;
  text-transform: uppercase;
  font-weight: bold;
}

.product__price {
  font-size: 16px;
  font-weight: bold;
  color: #f16d7f;
  text-transform: uppercase;
  margin-top: 17px;
  margin-left: 14px;
}

.action {
  margin-top: 79px;
  margin-bottom: 113px;
  display: flex;
  justify-content: center;
}

.action__button {
  height: 48px;
  background-color: #f16d7f;
  display: flex;
  align-items: center;
}

.action_button__text {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 0.03em;
  margin-left: 24px;
  line-height: 14px;
}

.action_button__point {
  height: 7px;
  width: 15px;
  margin-right: 19px;
  margin-left: 9px;
}

.product__content {
  padding: 19px 15px;
}

.special {
  margin-bottom: 97px;
  display: flex;
  justify-content: center;
  height: 529px;
}

.special__desc {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  width: 373px;
  background-color: #222224;
  height: 100%;
  padding: 45px 31px;
}

.desc__item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 19px;
}

.decs_img_box {
  width: 47px;
  height: 40px;
  margin-right: 30px;
}

.desc__title {
  display: block;
  font-size: 20px;
  font-weight: bold;
  color: #fbfbfb;
  letter-spacing: 0.03em;
  padding-top: 7px;
  padding-bottom: 17px;
}

.desc__text {
  font-size: 14px;
  font-weight: 300;
  color: #fbfbfb;
  letter-spacing: 0.03em;
  line-height: 24px;
}

.desc_content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.special__img {
  position: relative;
}

.special_title {
  position: absolute;
  top: 146px;
  left: 39px;
  display: flex;
  flex-direction: column;
}

.special_p1 {
  font-size: 54px;
  font-weight: bold;
  color: #fff;
  letter-spacing: 0.03em;
}

.special_p2 {
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 0.03em;
}

.color {
  color: #f16d7f !important;
}

.subscribe {
  height: 438px;
  background: url(img/bottom_bg_gr.png) no-repeat center, url(img/bottom_bg.png) no-repeat center;
  display: flex;
  justify-content: center;
  margin-bottom: 109px;
}

.subscribe_left {
  padding-top: 111px;
  display: flex;
  justify-content: flex-end;
  padding-right: 0;
  width: 569px;
}

.feedback__img {
  height: 83px;
  width: 83px;
  border-radius: 83px;
  margin-right: 28px;
}

.feedback {
  padding-top: 12px;
  margin-right: 33px;
}

.feedback-author {
  padding-top: 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  letter-spacing: 0.03em;
  line-height: 26px;
}

.feedback-author-add {
  font-size: 12px;
  font-weight: 300;
  color: #222224;
  text-align: left;
  letter-spacing: 0.03em;
  line-height: 14px;
}

.feedback-text {
  font-size: 16px;
  font-style: italic;
  color: #222224;
  text-align: left;
  letter-spacing: 0.03em;
  line-height: 26px;
}

.subscribe_right {
  padding-left: 92px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 478px;
}

.cta {
  padding: 0 0 35px;
}

.cta__2 {
  font-size: 14px;
  color: #222224;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 24px;
  text-transform: uppercase;
}

.cta__1 {
  font-size: 24px;
  color: #222224;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 34px;
  text-transform: uppercase;
}

.subscribe__input {
  height: 46px;
  width: 334px;
  background-color: #e1e1e1;
  border-radius: 23px;
  border-style: none;
  padding: 18px 78px 18px 28px;
}

.subscribe__button {
  height: 46px;
  width: 104px;
  background-color: #f16d7f;
  border-radius: 0 23px 23px 0;
  border-style: none;
  position: absolute;
  left: 282px;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  letter-spacing: 0.03em;
}

.subscribe__form {
  display: flex;
  position: relative;
}

.footer_left {
  width: 430px;
  margin-right: 60px;
}

.footer_right {
  display: flex;
  justify-content: space-between;
}

.footer {
  justify-content: flex-start;
  display: flex;
  margin-bottom: 84px;
}

.footer__text {
  padding-top: 29px;
  font-size: 14px;
  font-weight: 300;
  color: #898989;
  text-align: left;
  letter-spacing: 0.03em;
  line-height: 24px;
}

.footer_p {
  padding-bottom: 20px;
  display: block;
}

.footer-menu__caption {
  font-size: 18px;
  font-weight: bold;
  text-align: right;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-menu__items {
  margin-top: 45px;
  margin-bottom: 13px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 179px;
}

.footer-menu__items a {
  font-size: 16px;
  color: #898989;
  text-align: left;
  letter-spacing: 0.03em;
}

.footer-menu__items a:hover {
  color: #f16d7f;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 80px;
}

.copyright-text {
  font-size: 16px;
  color: #7a7a7a;
  letter-spacing: 0.03em;
}

.social {
  display: flex;
  justify-content: flex-end;
}

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 79px;
  background-color: #e6e6e6;
}

.social__item {
  height: 32px;
  width: 32px;
  background-color: #fff;
  margin-left: 8px;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__item:hover {
  background-color: #f16d7f;
}

.social__item:hover img {
  filter: brightness(2);
}

.social-img {
  align-self: center;
}

.menu__list:hover {
  border-bottom: 3px solid #f16d7f;
}

.menu__list:hover .drop {
  display: flex;
}

.drop_last {
  right: 0;
}

.feedback-switch {
  display: block;
  height: 4px;
  width: 38px;
  background-color: #d6d6d6;
  margin-top: 41px;
  margin-right: 13px;
}

.feedback-switch:hover {
  background-color: #f16d7f;
}

.fb_activ {
  background-color: #f16d7f !important;
}

.category {
  font-size: 24px;
  font-weight: 900;
  color: #f16d7f;
  text-transform: uppercase;
}

.breadcrumb {
  display: flex;
  justify-content: space-between;
  padding-top: 65px;
  padding-bottom: 65px;
  background-color: #f8f3f4;
}

.breadcrumb__line {
  font-size: 14px;
  font-weight: 300;
  color: #636363;
  text-transform: uppercase;
}

.breadcrumb__activ {
  font-weight: bold;
  color: #f16d7f;
  text-transform: uppercase;
  font-size: 14px;
}

.main {
  margin-top: 59px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.main__right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 848px;
}

.leftmenu__item {
  font-size: 14px;
  color: #6f6e6e;
  line-height: 33px;
  padding-left: 17px;
}

.leftmenu__item:hover {
  color: #f16d7f;
}

.leftmenu_cat {
  font-size: 14px;
  font-weight: bold;
  color: #6f6e6e;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  border-left: 5px solid #f16d7f;
  padding-top: 12px;
  padding-bottom: 15px;
  padding-left: 11px;
  width: 243px;
  cursor: pointer;
}

summary::-webkit-details-marker {
  display: none;
}

summary::after {
  content: "▶";
  padding-right: 6px;
  color: #6f6e6e;
  font-size: 10px;
}

details[open] > summary::after {
  content: "▼";
  color: #ef5b70;
}

details[open] > summary {
  color: #ef5b70;
}

.leftmenu_block {
  margin-bottom: 40px;
  color: #6f6e6e;
}

.top-filter {
  padding-top: 12px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.trand_activ {
  color: #f16d7f;
}

.filter_trand {
  font-size: 14px;
  color: #dfdfdf;
  line-height: 26px;
}

.filter_trand a:hover {
  cursor: pointer;
  color: #f16d7f;
}

.filter_trand a {
  color: #6f6e6e;
}

.filter_trand a {
  color: #6f6e6e;
}

.filter_caption {
  padding-bottom: 25px;
  font-size: 14px;
  font-weight: bold;
  color: #6f6e6e;
  text-transform: uppercase;
}

.sizes {
  font-size: 14px;
  color: #6f6e6e;
  text-align: left;
  line-height: 20px;
  display: flex;
  flex-wrap: wrap;
}

.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}

.checkbox + label {
  position: relative;
  padding-left: 25px;
  padding-right: 23px;
  cursor: pointer;
}

.checkbox + label:hover {
  color: #f16d7f;
}

.checkbox + label:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  height: 13px;
  width: 13px;
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  transition: 0.2s;
}

.checkbox + label:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.2s;
}

.checkbox:checked + label:before {
  background: #f0f0f0;
}

.checkbox:checked + label:after {
  content: "✓";
  font-weight: bold;
  left: 2px;
}

.range {
  width: 262px;
  background-color: #f0f0f0;
}

.price_range {
  width: 262px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #6f6e6e;
}

.top-filter__part {
  max-width: 33%;
  min-width: 236px;
  padding-bottom: 43px;
}

.sort {
  background-color: #f3f3f3;
  height: 50px;
  margin-bottom: 48px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}

.sort_item {
  background-color: #fff;
  padding-left: 13px;
  margin-right: 10px;
  height: 30px;
  font-size: 14px;
  color: #6f6e6e;
  display: flex;
  align-items: center;
  border: 1px solid #ebebeb;
}

.sort_box {
  padding-left: 11px;
  border-left: 1px solid #ebebeb;
}

.sort_box:hover {
  cursor: pointer;
  color: #f16d7f;
}

.sort_label {
  padding-right: 8px;
  border-right: 1px solid #ebebeb;
}

.sort__point {
  padding-left: 21px;
  padding-right: 9px;
}

.paging {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 44px;
  margin-bottom: 110px;
}

.number {
  font-size: 16px;
  font-weight: 400;
  color: #c4c4c4;
  padding-left: 15px;
}

a.number:hover {
  color: #ef5b70;
}

.viewall {
  height: 44px;
  width: 150px;
  background-color: #ffffff;
  border: 1px solid #ef5b70;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 300;
  color: #ef5b70;
}

.viewall:hover {
  background-color: #ef5b70;
  color: #fff;
  cursor: pointer;
}

.pages {
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  height: 44px;
  display: flex;
  align-items: center;
  padding-right: 15px;
}

.bottom_discount {
  height: 341px;
  background-color: #222224;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 89px;
  padding-bottom: 89px;
}

.discount_article {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 333px;
}

.discount_article img {
  max-height: 40px;
  max-width: 47px;
  position: absolute;
}

.article_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 65px;
}

.product_align {
  justify-content: flex-start !important;
  margin-right: -35px;
}

.pr_align {
  margin-right: 30px;
}

.drop {
  background-color: #ffffff;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 8px;
  display: none;
  position: absolute;
  top: 46px;
  border: 1px solid #e8e8e8;
}

.menu__list {
  position: relative;
}

.drop__chapter {
  width: 234px;
  margin-right: 46px;
}

.drop__chapter:last-of-type {
  margin-right: 0;
}

.drop__h3 {
  font-size: 14px;
  color: #232323;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 8px;
  margin-top: 21px;
}

.drop__ul {
  list-style-type: none;
}

.drop__link {
  font-size: 14px;
  color: #646464;
  letter-spacing: 0.03em;
  line-height: 28px;
}

.drop__link:hover {
  color: #f16d7f;
}

.browse_drop {
  position: absolute;
  top: 36px;
  z-index: 1;
}

/*# sourceMappingURL=style.css.map */
